.login-container {
    display: flex;
  }
  .image-login-container {
    background-image: url("../Images/Head.jpg");
    background-size: 100% 100%;
    width: 130vh;
    height: 88.5vh;
  }
  .text-login-container input {
    border: 1px solid rgb(131, 140, 239);
    padding: 1vw 1vw;
    border-radius: 10px;
    width: 300px;
    display: flex;
    margin: 5px;
    margin-left: 40px;
    color: #ba1919;
  
  }
  
  .text-login-container button {
    border: 1px solid rgb(131, 140, 239);
    padding: 0.8vw 1vw;
    border-radius: 10px;
    margin: 5px;
    margin-left: 40px;
  }
  .text-login-container button:hover {
    background-color: #a4a4db;
    cursor: pointer;
  }
  .text-login-container {
     /* border: 1px solid rgba(0, 0, 0, 0.2);  */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height:50px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  .text-login-container img{
      height:110px;
      padding: 20px;
      width:500px;
  }
  .text-login-container label{
      padding: 40px;
  }
  
  .error-msg{
    color: #ff0000;
    padding-left: 40px;
    font-size: 14px;
  }
  p{
    padding-left: 40px;
  }